build*/
subprojects/*
!subprojects/*.wrap

# meson auto generates a wrap redirect. Ignore it.
subprojects/boost.wrap

!subprojects/.clang-tidy
!subprojects/.clang-format
!subprojects/.clang-tidy-ignore

.vscode
.idea/
