[Unit]
Description=Hwmon Temp Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.HwmonTempSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/hwmontempsensor

[Install]
WantedBy=multi-user.target
