
[Unit]
Description=Leak Detector for Liquid Cooling
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.leakdetector
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/leakdetector

[Install]
WantedBy=multi-user.target
