[Unit]
Description=Intrusion Sensor
StopWhenUnneeded=false
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/env intrusionsensor
SyslogIdentifier=intrusion-sensor

[Install]
WantedBy=multi-user.target
