[Unit]
Description=Exit Air Temp Sensor
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/sbin/exitairtempsensor

[Install]
WantedBy=multi-user.target

