[Unit]
Description=Intrusion Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.IntrusionSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/intrusionsensor

[Install]
WantedBy=multi-user.target
