[Unit]
Description=CPU Sensor
StopWhenUnneeded=false
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/cpusensor

[Install]
WantedBy=multi-user.target
