[Unit]
Description=Fan Sensor
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/sbin/fansensor

[Install]
WantedBy=multi-user.target
