[Unit]
Description=Nvidia GPU Sensor
StopWhenUnneeded=false
Requires=mctpd.service
After=mctpd.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.GpuSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/nvidiagpusensor

[Install]
WantedBy=multi-user.target
