[Unit]
Description=Adc Sensor
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/sbin/adcsensor

[Install]
WantedBy=multi-user.target
