[Unit]
Description=Intel CPU Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.IntelCPUSensor
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/libexec/dbus-sensors/intelcpusensor

[Install]
WantedBy=multi-user.target
