[Unit]
Description=AMD Bulk Telemetry Sensor
StopWhenUnneeded=false
Wants=xyz.openbmc_project.ObjectMapper.service
After=xyz.openbmc_project.ObjectMapper.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.AmdBulkSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/amdbulksensor

[Install]
WantedBy=multi-user.target
