[Unit]
Description=Adc Sensor
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/adcsensor

[Install]
WantedBy=multi-user.target
