[Unit]
Description=Exit Air Temp Sensor
StopWhenUnneeded=false
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power0.service xyz.openbmc_project.Settings.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/exitairtempsensor

[Install]
WantedBy=multi-user.target

